.App .logo {
max-width: 170px;
margin: 0 auto;
margin-top: 40px;
margin-bottom: 40px;
border-radius: 4px;
display: block;
}


 .App h1 {
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 28pt;
   font-weight: bold;

 }

 .App h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;

}

 .App footer{
   text-align: center;
   font-family: 'Poppins', sans-serif;
   color: white;
 }

 .App footer strong {
   color: white;
 }

 .App .emoji {
   font-size: 45pt;
   text-align: center;
 }

 .App .footer-name {
   color: rgb(21, 222, 248);
   font-weight: bold;
 }
 .App .footer-name:hover {
  opacity: 0.7;
}

 .App .footer-opensource {
  color: rgb(21, 222, 248);
  font-weight: bold;
  font-style: underline;
}

.App .footer-opensource:hover {
  opacity: 0.5;
}
