.Phonetics{
    margin-bottom: 20px;
}

.Phonetics a {
    text-decoration: none;
    padding: 10px;
    transition: all 150ms ease-in-out;
    font-size:15pt;
    color: black;
}

.Phonetics .audio-icon:hover {
    color: orangered;
}

.Phonetics .text{
    opacity: 0.5;
    font-style: italic;
}